body {
  background: #e5e5e5;
  font-family: "Montserrat", "Montserrat", sans-serif;
  text-decoration: none;
}
body:hover {
  color: black;
}
a {
  text-decoration: none;
  color: black;
}
header {
  background: #ffffff;
}

ul {
  list-style: none;
}
.logo-web {
  color: #2196f3;
}
.logo {
  width: 145px;
  height: 31px;
  padding-right: 46px;
  padding-left: 215px;
  font-family: "Raleway", sans-serif;

  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}
.nav {
  display: flex;
  flex: 1;
  gap: 46px;
  align-items: center;
}
.nav-agency {
  width: 53px;
  height: 16px;
}
.nav-agency:active {
  color: #2196f3;
}
.nav-portfolio {
  width: 58px;
  height: 16px;
}
.nav-portfolio:active {
  color: #2196f3;
}
.nav-contact {
  width: 58px;
  height: 16px;
}
.nav-contact:active {
  color: #2196f3;
}
.mail {
  width: 135px;
  height: 16px;

  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #757575;
}
.mail:active {
  color: #2196f3;
}
.tel {
  width: 135px;
  height: 16px;

  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #757575;
}
.tel:active {
  color: #2196f3;
}
.header {
  background: #2f303a;
  width: 1600px;
  height: 600px;
}
h1 {
  position: absolute;
  width: 696px;
  height: 120px;

  font-weight: 900;
  font-size: 44px;
  line-height: 60px;

  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
}
.order-button {
  width: 200px;
  height: 50px;

  background: #2196f3;
  border-radius: 4px;
}
.order-text {
  width: 117px;
  height: 30px;

  font-weight: 700;
  font-size: 16px;
  line-height: 30px;

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
}
.main {
  background: #ffffff;
}
h3 {
  width: 270px;
  height: 16px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.about {
  width: 270px;
  height: 75px;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: #757575;
}
.what-we-do {
  width: 352px;
  height: 42px;
  text-align: center;
}
.topic-one {
  width: 270px;
  height: 16px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
}
.topic-two {
  width: 270px;
  height: 16px;
  font-weight: 700;
  font-size: 14px;
}
.topic-three {
  width: 270px;
  height: 16px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}
.topic-four {
  width: 270px;
  height: 16px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

h3 {
  width: 352px;
  height: 42px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}
.workplace {
  width: 370px;
  height: 294px;
}
.phone {
  width: 370px;
  height: 294px;
}

.tablet {
  width: 370px;
  height: 294px;
}
.team-header {
  width: 210px;
  height: 42px;
  white-space: nowrap;

  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

footer {
  width: 1600px;
  height: 252px;

  background: #2f303a;
}
.logo-footer {
  width: 145px;
  height: 31px;
  font-family: "Raleway", sans-serif;

  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}
.logo-studio {
  color: white;
}

.address {
  text-decoration: none;
  width: 246px;
  height: 21px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: #ffffff;
}
.figcaption {
  width: 72px;
  height: 19px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  white-space: nowrap;
  text-align: center;
  letter-spacing: 0.03em;
}
.job-position {
  width: 130px;
  height: 19px;

  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}
.footer-mail {
  width: 231px;
  height: 21px;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.footer-mail:active {
  color: #2196f3;
}
.footer-tel {
  width: 231px;
  height: 21px;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.footer-tel:active {
  color: #2196f3;
}
